/*Importamos las fuentes que vamos a usar*/

@font-face {
    font-family: 'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
    src: url(../Fuentes/Quicksand/Quicksand-Bold.ttf)
}

/* elementos comunes en toda la página */
h1{
    font-size: 36px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

h3{
    font-size: 25px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    color: red;
}

p{
    font-family: "Quicksand-Bold" ;
    font-size: 21px;
}

/* elementos con clase */
.p_final{
    padding-top: 2%;
}

.contenedor{
    width: 60%;
    font-family: 'Quicksand';
}

/* imagen introduccion */
.img_intro{
    display: block; /* añadimos un display block para hacer
                     que el comportamiento del elemento sea como un bloque. */
    align-items: center; /* lo alineamos en el centro */
    width: 500px;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* imagenes de tipos de residuos*/
.img_residuos{
    display: block; /* añadimos un display block para hacer
                     que el comportamiento del elemento sea como un bloque. */
    align-items: center; /* lo alineamos en el centro */
    padding-top: 3%;
    padding-bottom: 3%;
}

/* hacemos bloque el contenedor de las listas */
.ul_left{
    display: block;
    padding-left: 5%;
    
}

/* ponemos estilo a la lista */
.li_re{
    font-family: "Quicksand-Bold" ;
    font-size: 20px;
    list-style: disc;
    padding-top: 1%;
    padding-top: 1%;
}
 /* CSS enlaces */
.a_color{ /*le damos color a los enlaces */
    text-decoration: none;
    color: rgb(11, 214, 194);  
}