/*Importamos las fuentes a usar*/

@font-face {
    font-family: 'Titulo';
    src: url(../Fuentes/AbrilFatface/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: 'Cuerpo artículo';
    src: url(../Fuentes/Josefin_Slab/JosefinSlab-Light.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
    font-weight: 900;
}


/*CSS Artículos*/

#fondo_izq {
    background-color: lightgray;
    width: 50%;
    height: auto;
    float: left;
    margin-left: 3%;
}

#fondo_derc {
    border: 4px solid;
    float: right;
    width: 40%;
    height: auto;
    margin-right: 1%;
    padding-left: 1%;
}

#Titulo_art {
    font-family: 'Titulo';
    font-size: 30px;
    text-align: center;
    padding: 8% 0 2% 0;
}

.Fechas {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 20px;
    padding: 1% 0 1% 0;
}

.Subtítulos {
    font-family: 'Titulo';
    font-size: 18px;
    margin-left: 20px;
    padding-top: 2%;
}

.textos {
    font-family: 'Cuerpo artículo';
    font-size: 20px;
    text-align: justify;
    margin: 0 5% 0 5%;
}

#textos_lista {
    margin: 2% 5% 0 5%;
    font-size: 18px;
}

.lista_art {
    font-family: 'Cuerpo artículo';
    list-style: disc;
    text-align: justify;
    margin: 2% 5% 0 5%;
    padding-right: 3%;
}

#aceite {
    float: right;
    width: 250px;
    height: 200px;
    margin: 2%;
}

#diesel {
    float: left;
    width: 250px;
    height: 150px;
    margin: 2% 2% 0 2%;
}

#bujias {
    float: right;
    width: 250px;
    height: 200px;
    margin: 2%;
}

#video_ruedas {
    width: 300px;
    height: 200px;
    float: left;
    margin: 1% 2% 0 2%;
}

.audio {
    align-content: center;
}

#Programa1 {
    width: 250px;
    height: 150px;
    float: left;
}

#Programa2 {
    width: 200px;
    height: 100px;
}

#Programa3 {
    width: 200px;
    height: 100px;
}

#Programa4 {
    width: 200px;
    height: 100px;
}

#Programa5 {
    width: 200px;
    height: 100px;
}

#Programa6 {
    width: 200px;
    height: 100px;
}

.div1 {
    background-color: rgb(54, 201, 152);
    float: left;
    padding: 2%;
    margin: 2% 0 2% 0;
    align-content: center;
}

.div2 {
    background-color: rgb(119, 197, 112);
    float: right;
    padding: 2%;
    margin: 2%;
}

#podcast {
    font-family: 'Titulo';
    padding-bottom: 3%;
    text-align: center;
    float: right;
}