/*Importamos las fuentes que vamos a usar*/

@font-face {
    font-family: 'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: 'Quicksand Bold';
    src: url(../Fuentes/Quicksand/Quicksand-Bold.ttf);
}

body {
    margin: auto;
    font-family: 'Quicksand';
}


/*CSS Apartado Covid*/

#Enlace_Covid {
    text-decoration: none;
}

#Covid {
    background-color: rgb(209, 204, 204);
    border-top: 3px solid rgb(209, 204, 204);
    border-width: 5px solid rgb(209, 204, 204);
    border-bottom: 6px solid black;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

#Titulo {
    text-align: center;
    font-family: 'Quicksand';
    font-size: 20px;
    color: black;
    margin-top: 1%;
}

#Distancia {
    float: left;
    margin-left: 30px;
}

#Texto_Distancia {
    float: left;
    margin-left: 35px;
    margin-right: 5px;
    font-family: cursive;
    padding: 10px;
    border-right: 2px solid black;
    color: black;
}

#Coche {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

#Texto_Coche {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    font-family: cursive;
    padding: 10px;
    border-right: 2px solid black;
    color: black;
}

#Tecnico {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

#Texto_Tecnico {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    font-family: cursive;
    padding: 10px;
    border-right: 2px solid black;
    color: black;
}

#Mampara {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

#Texto_Mampara {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    font-family: cursive;
    padding: 10px;
    color: black;
}

#Final {
    text-align: center;
    font-family: 'Quicksand';
    font-size: 20px;
    color: black;
    margin-bottom: 1%;
}




/*CSS Nav*/

* {
   
    margin: auto;
}

ul {
    list-style: none;
   
    
}

#coche_boton {
    background: lightgray;
    outline: none;
    line-height: 50px;
    
    
    

}

.desplegable li a {
    text-align: center;
    line-height: 50px;
    color:black;
    text-decoration: none;
    padding: 5% 5%;
    display: block;
    background-color:lightgray;
  
}

.desplegable li a:hover {
    background-color:darkgray;
  
}

.desplegable>li {
    float: left;
    width: 20%;
}

#Logo_coche {
    margin-left: 0%;
    vertical-align: middle;
    width: 45%;
    height: 1%;
    object-fit: contain;
    background-size: cover;
    background-color:white;
    border-radius: 150%;
    padding-block-end: 0%;
}

.desplegable li ul {
    display: none;
    position: absolute;
    min-width: 200px;
}

.desplegable li:hover>ul {
    display: block;
}

.submenu {
    text-align: left;
}


/*CSS footer*/

#Pie {
    position: sticky;
    background-color: black;
    width: auto;
    height: auto;
    margin-top: 10px;
    padding: 1% 0 1% 0;
    font-family: 'Quicksand';
}

#Copyright {
    color:white;
    text-align: center;
    padding-bottom: 1%;
}

#Aviso {
    text-align: center;
    color:white;
}