/*Importamos las fuentes que vamos a usar*/

@font-face {
    font-family: 'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
}

body{
	background-image: url(../Imagenes/bosque.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  }
#Heading1{
	color: #FFFFFF;
	font-family: 'Quicksand';
	text-align: center;
	padding-top: 3%;
}

#wb_Text1{
	color: #EEE;
	font-family: 'Quicksand';
	text-align: center;
	font-size:21px;
	line-height:25.5px;
}
