/*
 *
 *Importamos las fuentes que vamos a usar
 *
 */

 @font-face {
    font-family: 'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: 'Quicksand Bold';
    src: url(../Fuentes/Quicksand/Quicksand-Bold.ttf);
}

/*Tipo de letra que se le va a dar al cuerpo entero*/
body {
    margin: auto;
    font-family: 'Quicksand';
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*
 *
 *CSS Apartado Covid
 *
 */



/*Link que sirve para ir a la pagina sobre Covid*/
#Enlace_Covid {
    text-decoration: none;
    display: block;
    background-color: rgb(209, 204, 204);
}

/*Texto que aparece al principio y al final del del link*/
.Titulo_covid {
    text-align: center;
    font-family: 'Quicksand';
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: black;
}

/*Textos de dentro de las tablas*/
.Texto_covid {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    font-family: cursive;
    padding: 10px;
    border-right: 2px solid black;
    color: black;
}

#ultimo {
    border-right: none;
}

/*Todas las imagenes que aparecen en el link de Informacion Covid*/
.Imagenes_covid {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}


/*
 *
 *CSS del apartado de navegacion de todas las páginas
 *
 */

* {
    margin: auto;
}

/*Para hacer que los links esten centrados y de color negro*/
#desplegable a {
    color: black;
    text-align: center;
    list-style: none;
    text-decoration: none;
}

/*Para colocar todos los botones de la barra de navegacion de manera ordenada y en una misma fila*/
#desplegable {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

/*Para colocar los botones centrados*/
.botones {
    float: left;
    width: 25%;
    vertical-align: top;
    text-align: center;
    background-color: #c2c2c2;
    transition: background-color 1s; /*el tiempo que tarda en cambiar de color al pasar el raton por encima del link*/
}

/*Cambia el color de los links de la barra de navegacion al pasar el raton por encima*/
.botones:hover{
    background-color: black;
    color: white;
}

/*Tamaño del logo del coche, que lleva a la página principal*/
#Logo_coche {
    height: 10%;
    width: 10%;
}

.submenu {
    text-align: left;
}


/*
 *
 *CSS footer
 *
 */

 /*Caracteristicas del footer completo*/
#Pie {
    background-color: black;
    margin-top: 10px;
    padding: 1% 0 1% 0;
    font-family: 'Quicksand';
}

/*Texto de Copyright*/
#Copyright {
    color:white;
    text-align: center;
    padding-bottom: 1%;
}

/*Texto sobre el aviso legal de uso*/
#Aviso {
    text-align: center;
    color:white;
}