/*Importamos las fuentes que vamos a usar*/

@font-face {
    font-family: 'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
}

@import{


}
/* slider*/

.cover-slides{
	height: 100vh;
}
.slides-navigation a {
	background: #d65106;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    font-size: 20px;
    display: block;
    color: #fff;
	border-radius: 4px;
	line-height: 63px;
	text-align: center;
    transition: all .3s ease-in-out;
}
.slides-navigation a i{
	font-size: 40px;
}
.slides-navigation a:hover {
	background: #010101;
}
.cover-slides .container{
	height: 100%;
	position: relative;
	z-index: 2;
}
.cover-slides .container > .row {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.cover-slides .container > .row {
    height: 100%;
}

.btn{
	text-transform: uppercase;
	padding: 19px 36px;
}
.btn{
	display: inline-block;
	font-weight: 600;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 2px solid transparent;
	padding: 12px 30px;
	font-size: 16px;
	line-height: 1.5;
	border-radius: .1875rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-outline-new-white {
    color: #fff;
    background-color: #d65106;
    background-image: none;
    border-color: #d65106;
}
.btn-outline-new-white:hover {
    color: #ffffff;
    background-color: #333333;
    border-color: #333333;
}

.overlay-background {
    background: #333;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
	opacity: 0.5;
}

.cover-slides h1{
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	font-size: 64px;
	color: #fff;
}
.cover-slides p{
	font-size: 18px;
	color: #fff;
}
.slides-pagination a{
	border: 2px solid #ffffff;
}
.slides-pagination a.current{
	background: #d65106;
	border: 2px solid #d65106;
}

  
/*CSS Section Opinion*/

#encabezado {
    text-align: center;
    font-family: 'Quicksand';
}

#tit_Opinion {
    padding-top: 100px;
    color: red;
    padding-bottom: 3%;
}

#comentarios {
    padding-top: 3%;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

#comentario1 {
    font-family: 'Quicksand';
    text-align: center;
    display: block;
    margin: auto;
    width: 300px;
    height: 200px;
}

#comentario2 {
    font-family: 'Quicksand';
    display: block;
    margin: auto;
    padding: 0 2% 0 2%;
    text-align: center;
    width: 300px;
    height: 200px;
}

#comentario3 {
    font-family: 'Quicksand';
    display: inline-block;
    margin: auto;
    padding: 0 2% 0 2%;
    text-align: center;
    width: 300px;
    height: 200px;
}

.valoracion {
    width: 140px;
    height: 30px;
}


/*CSS Motivos para elegirnos*/




#Titulo_Mot {
    font-family: 'Quicksand-bold';
    text-align: center;
    background-color: lightgray;
}

#contenedor {
    background-color: lightgray;

}
#div_list {
    display: block;
    width: 50%;
    margin-bottom: 3%;
    
}

.List_Motiv {
    font-family: 'Quicksand';
    text-align: left;
    margin-left: 10%;
    list-style: disc;
    
}

#Residuos {
    text-decoration: none;
    color: black;
}

/* css video */

* ,*::after, *::before{
    box-sizing:border-box;
   }
   
   .div_video{
    display: block;
    width: 40%;
   }
   
   .caja-video  {
    position:relative;
    background-color:black;
    width: 100%;
    padding-bottom:56.25%;
   }
   
   .caja-video::before {
    position: absolute;
    content:'';
    display:block;
    padding-bottom:56.25%;
   }
   
   .video{
    position:absolute;
    width: 100%;
    height: 100%;
   }
    




/*CSS Section Motivos para elegirnos

#Titulo_Mot {
    text-align: center;
}

#Motivos {
    margin-top: 200px;
    font-family: cursive;
    text-align: left;
}

.List_Motiv {
    text-align: justify;
    padding-bottom: 8px;
}

.List_Motiv::before {
    content: "\2022";
    padding-right: 5px;
    padding-left: 5px;
    color: black;
}

#Recuadro {
    padding-top: 15px;
    margin: auto;
    width: auto;
    height: auto;
    padding-bottom: 50px;
    padding-left: 20px;
    background-color: rgba(228, 228, 228, 0.849);
}

#Residuos {
    text-decoration: none;
    color: black;
}

#Video {
    width: 300px;
    height: 300px;
    float: right;
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 20px;
}

/*CSS Caja opiniones

#Clientes {
    display: flex;
    background-color: rgba(228, 228, 228, 0.849);
    margin-top: 25%;
    align-items: center;
}

#Rectangulo {
    padding-top: 5px;
    width: auto;
    height: auto;
    clear: right;
    display: inline-block;
    margin: auto;
}

#Tit_Opinión {
    color: red;
    margin-top: auto;
    text-align: center;
}

#Agradecimiento {
    text-align: center;
}

#Opiniones {
    display: flex;
    margin: auto;
}


CSS Section Motivos para elegirnos

#Titulo_Mot {
    text-align: center;
}

#Motivos {
    margin-top: 200px;
    font-family: cursive;
    text-align: left;
}

.List_Motiv {
    text-align: justify;
    padding-bottom: 8px;
}

.List_Motiv::before {
    content: "\2022";
    padding-right: 5px;
    padding-left: 5px;
    color: black;
}

#Recuadro {
    padding-top: 15px;
    margin: auto;
    width: auto;
    height: auto;
    padding-bottom: 50px;
    padding-left: 20px;
    background-color: rgba(228, 228, 228, 0.849);
}

#Residuos {
    text-decoration: none;
    color: black;
}

#Video {
    width: 300px;
    height: 300px;
    float: right;
    padding-left: 60px;
    padding-right: 40px;
    padding-bottom: 20px;
}*/