/*Importamos las fuentes que vamos a usar*/

@font-face {
    font-family: 'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
    src: url(../Fuentes/Quicksand/Quicksand-Bold.ttf)
}
