/*Importamos las fuentes que vamos a usar*/
@font-face {
    font-family:'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
}

/* Foto de stop covid*/
#Stop {
    padding-top: 3%;
    display: block;
    margin: auto;
}

/* El primer texto de la página*/
h1 {
    text-align: center;
    font-family: 'Quicksand';
}

/* Los textos que aparecen más grandes*/
.Titulo {
    text-align: center;
    color: red;
    font-family: 'Quicksand';
}

/* Los textos que aparecen más pequeños*/
.Subtitulo {
    text-align: center;
    font-family: 'Quicksand';
    color: #595959;
}

/* Cada grupo de imagenes*/
.Cliente {
    display: flex;
    align-items: center;
}

/*Segunda imagen y texto de cada grupo */
.Apartados {
    clear: right;
    display: inline-block;
    margin: auto;
}

/*Primera imagen y texto de cada grupo*/
.Apartados2 {
    display: block;
    margin: auto;
}

/* Para que las fotos del coche aparezcan todas seguidas*/
.foto {
    display: inline;
    margin: auto;
}

/* Para poner la letra en negrita*/
span {
    font-weight: bold;
}

#Inicio {
    padding-left: initial;
}