@font-face {
  font-family: 'Quicksand';
  src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
  font-weight: 900;
}

ul.paginado {
  list-style: none;
  font-family: 'Quicksand';
  padding-top: 5%;
  background-color: white;
}
  
ul.paginado li {
  display: inline;
  background-color: white;
}
  
ul.paginado li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.paginado li a {
  color: green;
}


#texto {
  width: 70%;
  margin: 0 auto;
}

#titPrincipal{
  text-align: center;
  color: red;
  font-size: 2em;
  font-weight: bold;
}

.titulo2{
  color: darkred;
}

.parrafo{
  text-align: justify;
  font-size: 20px;
  margin: 0 20px 0 20px;
}

#fondo{
  background-color: lightgray;
  line-height : 27px;
  margin-top: 10%;
}

.imgTexto{
  width: 100%;;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.imgParrafo{
  height: 40%;
  width: 40%;
  margin: 0 auto;
}


#tabla{
  margin: 0 20px 0 20px;
}
.tltTabla{
  font-size: 25px;
  color: darkred;
  padding-top: 20px;
  padding-bottom: 20px;
}

.imgTabla{
  width: 60%;
  display: block;
  margin: auto;
  transition: transform .2s; 
}
.imgTabla:hover {
  transform: scale(1.7); 
}

.tdTabla{
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  text-align: justify;
  vertical-align: top;
}

/* Flecha */

.to-top{
	color: black;
	display:inline-block;
	border-color: black;
	text-decoration:none;
  transition:all .3s ease-out;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
  padding-top: 30px;
}
.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em black;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:red;
	border-color: red;
}


