/*Importamos las fuentes que vamos a usar*/

@font-face {
    font-family: 'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
    src: url(../Fuentes/Quicksand/Quicksand-Bold.ttf)
}


/* Wrapper */

.wrapper {
	padding: 6em 0em 4em 0em;
}

	.wrapper.style1 {
		padding: 0em;
		background: #222222 url(../Imagenes/ba_inicio.jpg) no-repeat;
		background-size: cover;
	}

/* Banner */
#banner{
    width: 1903px;
    height: 316px;
}

 /* slider*/
 /*.container{
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-sizing: inherit;
    display: block;
 }

 #img {
     display:block;
 }

 #img2, #img3, #img4 {
    display:none;
}*/

 /* Button Slider*/

/*.w3-black, .w3-hover-black:hover{
    color:black;
    background-color: lightgrey;
}
.w3-display-left{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%, -50%);
}
.w3-display-right {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
}
.w3-btn, .w3-button{
    border: none;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: medium;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: medium;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentcolor;
    border-left-style: none;
    border-left-width: medium;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;

    display: inline-block;

    padding: 8px 16px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;

    overflow: hidden;

    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;

    text-align: center;

    cursor: pointer;

    white-space: nowrap;  
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input, select, textarea, optgroup {
    font: inherit;
    margin: 0;
}
*, ::before, ::after {
    box-sizing: inherit;
}*/

/* Banner */

.div_banner{
  
    position: relative;
}
.img_banner´{
    width: 80%;
    height: 100%;
}


/*CSS Section Opinion*/

#encabezado {
    text-align: center;
    font-family: 'Quicksand';
}

#tit_Opinion {
    padding-top: 100px;
    color: red;
    padding-bottom: 3%;
}

#comentarios {
    padding-top: 3%;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

#comentario1 {
    font-family: 'Quicksand';
    text-align: center;
    display: block;
    margin: auto;
    width: 300px;
    height: 200px;
}

#comentario2 {
    font-family: 'Quicksand';
    display: block;
    margin: auto;
    padding: 0 2% 0 2%;
    text-align: center;
    width: 300px;
    height: 200px;
}

#comentario3 {
    font-family: 'Quicksand';
    display: inline-block;
    margin: auto;
    padding: 0 2% 0 2%;
    text-align: center;
    width: 300px;
    height: 200px;
}

.valoracion {
    width: 140px;
    height: 30px;
}

/*CSS Motivos para elegirnos*/

#Titulo_Mot {
    font-family: 'Quicksand-bold';
    text-align: center;
    background-color: lightgray;
}

#contenedor {
    background-color: lightgray;

}
#div_list {
    display: block;
    width: 50%;
    margin-bottom: 3%;   
}

.List_Motiv {
    font-family: 'Quicksand';
    text-align: left;
    margin-left: 10%;
    list-style: disc;  
}

#Residuos {
    text-decoration: none;
    color: black;
}

/* css video */

* ,*::after, *::before{
    box-sizing:border-box;
   }

   .div_video{
    display: block;
    width: 40%;
   }

   .caja-video  {
    position:relative;
    background-color:black;
    width: 100%;
    padding-bottom:56.25%;
   }

   .caja-video::before {
    position: absolute;
    content:'';
    display:block;
    padding-bottom:56.25%;
   }

   .video{
    position:absolute;
    width: 100%;
    height: 100%;
   }
    
