/*Importamos las fuentes que vamos a usar*/
@font-face {
    font-family:'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
}

/*css de la foto del stop*/
#Stop {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Quicksand';
}

.Titulo {
    text-align: center;
    color: #595959;
    font-family: 'Quicksand';
}

.Subtitulo {
    text-align: center;
    font-family: 'Quicksand';
    color: red;
}

.Cliente {
    display: flex;
    align-items: center;
}

/*Segunda imagen y texto de cada grupo */
.Apartados {
    clear: right;
    display: inline-block;
    margin: auto;
}

/*Primera imagen y texto de cada grupo*/
.Apartados2 {
    display: block;
    margin: auto;
}

.foto {
    display: inline;
    margin: auto;
}
span {
    font-weight: bold;
}

/*Cuando solo hay una imagen y un texto*/
.Apartados3 {
    clear: right;
    clear: left;
}