/*Importamos las fuentes que vamos a usar*/

@font-face {
    font-family: 'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
}

body{
	background-image: url(../Imagenes/bosque.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  }

.contenedor {
	color: white;
	font-family: 'Quicksand';
	padding: 3%;
}

.centrado {
	text-align: center;
}