/*Importamos las fuentes que vamos a usar*/

@font-face {
    font-family: 'Quicksand';
    src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
    src: url(../Fuentes/Quicksand/Quicksand-Bold.ttf)

}

/* Elementos básicos*/

h1{
    font-family: 'Quicksand';
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    
}
h2{
    font-family: 'Quicksand';
    font-size: 20px;
    text-align: center;
    color:black;
    padding-top: 10px;
    padding-bottom: 20px;
}
h3{
    font-family: 'Quicksand';
    font-size: 20px;
    text-align: center;
    color:red;
    padding-left: 10px;
    padding-bottom: 20px;
}
h4{
    margin-top: 20px;
}

p{
    font-family: 'Quicksand-bold';
    font-size: 20px;
    
    
    
     
}
.foto{
    padding-left: 30px;
}
.foto1{
    padding-right: 30px;
}


#cabecera{
    background-color: lightgray;
    width: 80%;
   
}
#equipo{
    text-align: center;
    margin-top: 30px;
}

.trabajadores{
    background-color: lightgray;
    width: 80%;
    text-align: center;
    margin-top: 20px;
    
}
/* seccion nosotros*/

.nosotros{
    text-align: justify;
    display:inline-flex;
    width: 50%;

}

.p_nosotros{
    font-family: 'Quicksand-bold'; 
    margin-bottom: 20px;
}

#div_nosotros{
    width: 60%;
}

/*CSS Section Opinion*/
.opiniones{
    text-align: justify;
    display: inline-flex;
    width: 40%;
}

.div_opi{
    text-align: center;
    font-family: 'Quicksand';
    padding-top: 10px;
    color:black;
    padding-bottom: 3%;
    width: 500px;
}

.valoracion {
    width: 140px;
    height: 30px;
   
    
}


/* Wrapper */

.wrapper {
    padding: 6em 0em 4em 0em;
    display: block;
}

	.wrapper.style1 {
		padding: 0em;
		background: #222222 url(../Imagenes/ba_equipo.jpg) no-repeat;
		background-size: cover;
	}

/* Banner */
#banner{
    width: 1903px;
    height: 316px;
}


/* para hacer las imagenes de los trabajadores redondas*/

.imgRedonda {
    width:150px;
    height:150px;
    border-radius:100px;
    border:10px solid #666; 
}

.nombre{
    color: red;
}


  
#comentarios {
    padding: 10px,0px,10px,0px;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

#comentario1 {
    font-family: 'Quicksand';
    text-align: left;
    margin: auto;
    width: 500px;
    height: 200px;
}

#comentario2 {
    font-family: 'Quicksand';
    margin: auto;
    text-align: left;
    width: 500px;
    height: 200px;
}
/* Resto de imagenes */
#imagen{
    padding-top: 10%;
    display: block;
    align-items: center;
    width: 60%;
    
}
.img2{
    width: 30%;
    overflow: hidden;
    margin-bottom: 5%;
}
.img2:hover {
    -webkit-transform:scale(1.2);transform:scale(1.2);
    box-shadow: 0px 0px 15px 15px #ec731e;
    transition: transform .3s;
}
