
/* Wrapper */

.wrapper {
    padding: 6em 0em 4em 0em;
    display: block;
}

	.wrapper.style1 {
		padding: 0em;
		background: #222222 url(../Imagenes/ba_contacto.jpg) no-repeat;
		background-size: cover;
	}

/* Banner */
#banner{
    width: 1903px;
    height: 316px;
}

/*Tamaño del mapa*/
#mapa {
    height: 400px;
    width: 50%;
}

/*Para que el mapa se centre en el medio*/
#mapa2{    
	margin-right: auto;
	text-align: center;
}

.opcion {
    clear: right;
    display: inline-block;
    margin: auto;    
    background-color: rgb(122, 211, 129);
}

.form {
    display: flex;
    align-items: center;
}
