/*Importamos las fuentes que vamos a usar*/

@font-face {
  font-family: 'Quicksand';
  src: url(../Fuentes/Quicksand/Quicksand-SemiBold.ttf);
  src: url(../Fuentes/Quicksand/Quicksand-Bold.ttf);
}

/* Wrapper */

.wrapper {
  padding: 6em 0em 4em 0em;
  display: block;
}

	.wrapper.style1 {
		padding: 0em;
		background: #222222 url(../Imagenes/ban_consejos.jpg) no-repeat;
    background-size: cover;
    
	}

/* Banner */
#banner{
    width: 1903px;
    height: 316px;
}

/* Elementos basicos*/

h1{
  font-family: 'Quicksand';
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  color: red;
  
}
h2{
  font-family: 'Quicksand';
  font-size: 20px;
  text-align: center;
  color:black;
  padding-bottom: 20px;
}

h3{
  font-family: 'Quicksand';
  font-size: 20px;
  text-align: left;
  color:red;
  padding-left: 10px;
}

p{
  font-family: 'Quicksand-bold';
  font-size: 20px;
  text-align: justify;
}

ul{
  text-align: center;
}

/* listas secciones */
#lista_secciones{
  background-color: white;
}

.li_secciones{
  background-color: white;
  margin-top: 15px;
  display:inline-block;
  text-align: center;
  border-right: 2px solid black;
  padding-right: 3px;
  padding-left: 3px;
}

.li_secciones a{
  font-family: 'Quicksand';
  background-color: white;
  margin-top: 100px;
  color:black;
  text-decoration: none;
}

/* comun secciones */
.p_margen{
  margin-bottom: 20px;
  
}

/* seccion mecanica */
.div_mecanica{
  background-color: lightgray;
  width: 80%;
  text-align: center;
  margin-top: 10px;
  padding: 2%;
}

/* seccion mantenimiento */
.div_mantenimiento{
  background-color: lightgray;
  width: 80%;
  text-align: center;
  margin-top: 10px;
  padding: 2%;
}

/* seccion electricidad */
.div_electricidad{
  background-color: lightgray;
  width: 80%;
  text-align: center;
  margin-top: 10px;
  padding: 2%;
}

/* seccion aire */
.div_aire{
  background-color: lightgray;
  width: 80%;
  text-align: center;
  margin-top: 10px;
  padding: 2%;
}

/* seccion componentes */
.parrafo{
  margin: 1%;
}

.div_componentes{
  background-color: lightgray;
  width: 80%;
  text-align: center;
  margin-top: 10px;
  padding: 2%;
}

.imgTexto{
  height: 40%;
  width: 40%;
  margin-bottom: 10px;
}

.tltTabla{
  font-size: 25px;
  color: darkred;
  padding-top: 20px;
}

.imgTabla{
  width: 60%;
  display: block;
  margin-top: 20px;
  transition: transform .2s; 
}

.imgTabla:hover {
  transform: scale(1.7); 
}

.tdTabla{
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  text-align: justify;
  vertical-align: top;
}

/* Flecha */
.to-top{
	color: black;
	display:inline-block;
	border-color: black;
	text-decoration:none;
  transition:all .3s ease-out;
  padding: 20px;
  font-size: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin: 0;
  padding-top: 30px;
}

.to-top:before{
	content:'▲';
	font-size:.9em;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em black;
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}

.to-top:hover{
	color:red;
	border-color: red;
}


